* {
  font-family: "Courier New", Courier, monospace;
}

.default-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  letter-spacing: 1rem;
}

@media only screen and (max-width: 600px) {
  .default-background {
    letter-spacing: 0rem;
  }
}

.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  letter-spacing: 1rem;
}

.menu,
.contact {
  background: gainsboro;
}
